{% extends 'formulario/base.html' %}
{% block content %}

<div class="forms">
    <i class="bi bi-arrow-left-circle-fill"></i>   <h2>Perguntas</h2>

    <ul>
        {%for pergunta in perguntas_de_texto%}
        <li>{{pergunta.pergunta_de_texto}}</li> <!-- 'classe'- var definida no fo, campo da model.-->
        
        <form action="/deletar-pergunta/{{pergunta.id}}" method="POST">   
            {% csrf_token %}
            <button type="submit" class="deletar-formulario">Deletar</button>
        </form>
        <form action="/editar-pergunta/{{ pergunta.id }}" method="GET">   
            {% csrf_token %}
            <button type="submit" class="editar-pergunta">Editar</button>
        </form>
    
        {% endfor %}
</div>
{% endblock %}