{% extends "formulario/base.html" %}

{% block content %}

<h2 class="text-center">Criar Formulário</h2>
<main>
    <form method="post" class="box"> 
        {% csrf_token %}
        <div class="input-container">
            <label for="nome">Titulo:</label>
            <input type="text" id="nome" name="nome" required class="input-container input">
        </div>
        
        <div class="input-container">
            <label for="descricao">Descrição:</label>
            <input id="descricao" name="descricao" class="input-container input"></input>
            <label for="pergunta">Pergunta</label>
            <input id="pergunta" name="pergunta" class="input-container input"></div>
        </div>
        
        <button type="submit" class="btn">Enviar</button>
    </form>
</main>

{% endblock %}
