{% extends "formulario/base.html" %}

{% block content %}

<main>
    <div class="container-unico">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Detalhe do Formulário</title>
        </head>
        <body>
            <div class="cabecalho-formulario">
                <h1 class="titulo-principal">{{ form.nome }}</h1>
                <p class="descricao-form">{{ form.descricao }}</p>
            </div>
            
            <h2 class="titulo-pergunta">Perguntas:</h2>
            <ul class="lista-perguntas">
                {% for form_pergunta in form.formulariopergunta_set.all %}
                    <li class="item-pergunta">{{ form_pergunta.pergunta.pergunta_de_texto }}</li>
                {% endfor %}
            </ul>
        </body>
    </div>
</main>    

{% endblock %}
